<!doctype html>
<html lang="es">
	{% include "player/head.html" %}
  <body>

		<div class="up-header" >
			<img id="selectDevice" class="right icon background-chromecast"  data-balloon="Select Device" data-balloon-pos="left"  data-toggle="modal" data-target="#modalDevice" />
		</div>
		{% include "player/menu.html" %}
		<div class="page-header " >
			{% include "player/player.html" %}
		</div>
		<div id="playlistFormDiv" class="page-header " >
			{% include "player/playlist_form.html" %}
		</div>
		<div id="importPlaylistFormDiv" class="page-header d-none" >
			{% include "player/playlist_import_form.html" %}
		</div>
		<div class="container" >
			{% include "player/playlist.html" %}
		</div>

		<footer class="footer">
		  <div class="container">
			<p class="text-muted" id="status">
				{% block content %}
				{% endblock %}
			</p>
		  </div>
		</footer>
		 {% include "player/modals.html" %}
  </body>
</html>
