<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsContent" aria-controls="navbarsContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a id="currentPlaylistLink" class="nav-link" href="#">Current playlist</a>
            </li>
            <li class="nav-item">
              <a id="playlistLink" class="nav-link" href="#">Playlists</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownContent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Streaming
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownContent">
                <a class="dropdown-item" href="#">Radios</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
