<!-- Modal -->
<div id="modalDevice" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Devices</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <i id="loadingSpin" class="fa fa-spinner fa-spin" style="font-size:48px;color:blue"></i>
        <select class="custom-select " disabled id="inputSelectDevice" size=3 >

        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
