<div class="bd-group-controls">
  <div class="input-group-sm">
    <div class="fas ">track - source</div>
    <div class="right">00:00</div>
  </div>
  <div class="input-group-sm">

    <i id="backIcon" class="fas fa-backward"></i>
    <i id="pauseIcon" class="fas fa-pause"></i>
    <i id="playIcon" class="fas fa-play"></i>
    <i id="stopIcon" class="fas fa-stop"></i>
    <i id="forwardIcon" class="fas fa-forward"></i>

    <i id="volumeDown" class="fas fa-volume-down"></i>
    <i id="volumeUp" class="fas fa-volume-up"></i>

  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 1%"></div>
  </div>
</div>
