<input type="hidden" id="selectedDevice" >
<div class="container">
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="inputList-sizing-sm">Playlist url</span>
    </div>
    <input id="inputPlaylist" type="text" class="form-control" aria-label="Small" aria-describedby="inputList-sizing-sm">
  </div>
  <div class="form-group">
      <button id="buttonImportPlaylist" class="btn btn-primary">Import new playlist</button>
  </div>
</div>
